/*
  RULES:
    ps = position
*/

/* POSITION TYPE --------------------------------------------------- */
.ps-a {
  position: absolute;
}
.ps-f {
  position: fixed;
}
.ps-rr {
  position: relative;
}
/* END POSITION TYPE ----------------------------------------------- */

/* POSITION -------------------------------------------------------- */
.ps-t0 {
  top: 0;
}
.ps-r0 {
  right: 0;
}
.ps-b0 {
  bottom: 0;
}
.ps-l0 {
  left: 0;
}
/* END POSITION ---------------------------------------------------- */

/* POSITION Z AXIS ------------------------------------------------- */
.ps-z100 {
  z-index: 100;
}
/* END POSITION Z AXIS --------------------------------------------- */
